@import '_reset';

button {
    border: none;
    background-color: transparent;
    position: relative;
}

.image-button {
    h2 {
        top: 80%;
        left: 10%;
        position: absolute;
        color: white;
        cursor: pointer;
    }
}

img {
    border-radius: 4px;
    cursor: pointer;        
}

.cities-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .image-button {
        padding: 1rem;
    }
}

.title {
    text-align: center;
}

.header {
    padding: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

@keyframes submenuOpen {
    from {
        top: 100%;
    }
    to {
        top: 50%;
    }
}

@keyframes submenuClose {
    from {
        top: 50%;
    }
    to {
        top: 100%;
    }
}

.list {
    position: fixed;
    width: 100vw;
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px -5px 10px rgba(0, 0, 0, .35);
    overflow-y: scroll;
    &.open {
        animation: submenuOpen 1s ease;
        animation-fill-mode: forwards;
    }
    &.close {
        animation: submenuClose 1s ease;
        animation-fill-mode: forwards;
    }
    ul {
        display: grid;
        grid-template-columns: 5% auto 5%;
        li {
            grid-column-start: 2;
        }
    }
}